header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
  }
  
  .logo {
    grid-row: 1 / 2;
  }
  
  img {
    grid-row: 2 / 3;
    max-width: 100%;
    height: auto;
  }
  @media screen and (min-width: 768px) {
    header {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto;
    }
  
    img {
      grid-row: 1 / 2;
    }
  }  