* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, #d0e9c9,  #86e248);
}

header {
	background-color: black;
	color: #fff;
	display: flex;
	align-items: center;
	height: 100px;
	padding: 0 20px;
    margin-bottom: 20px;
}

.logo {
	flex: 1;
    display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	height: 70px;
}

main {
	max-width: 1200px;
	margin: 0 auto;
}

.fondo {
	background-image: url("../img/imagen1.jpg");
	background-size: cover;
	height: 400px;
	position: relative;
}

.overlay {
	background-color: rgba(140, 182, 121, 0.2);
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

.botones {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.botones button {
	background-color: rgb(12, 12, 12);
	border: none;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-size: 18px;
	padding: 10px 20px;
	margin: 0 20px;
    border-radius: 15px;
}

.imagenes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 0px;
}

.imagenes div {
	margin: 20px;
	width: calc(40% - 10px);
	text-align: center;
}

.imagenes img {
	max-width: 100%;
	height: auto;
}

.imagenes button {
	background-color: rgb(12, 12, 12);
	border: none;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-size: 18px;
	padding: 10px 20px;
	margin-top: 10px;
    border-radius: 15px;
}

@media screen and (max-width: 767px) {
	header {
		height: auto;
		flex-direction: column;
		padding: 10px;
	}

	.logo {
	
        flex: none;
        margin-bottom: 20px;
    }
    
    .logo img {
        height: 30px;
    }
    
    .fondo {
        height: 100px;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .imagenes div {
        width: calc(90% - 5px);
    }
    
    .botones button {
        margin: 10px;
    }
}

.login-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	background-color: rgb(208, 233, 201, 0.5);
	padding: 20px;
	border-radius: 5px;
  }
  
  .login-form h2 {
	text-align: center;
  }
  
  .form-group {
	margin-bottom: 10px;
  }
  
  .form-group label {
	display: block;
	margin-bottom: 5px;
  }
  
  .form-group input {
	width: 100%;
	padding: 8px;
	border-radius: 3px;
	border: 1px solid #ccc;
  }
  
  button[type="submit"] {
	display: block;
	width: 100%;
	padding: 8px;
	border-radius: 3px;
	border: none;
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
  }
